<div class="page_header">
  <h1>Brand Management</h1>
</div>

<div class="page_content">
  <h2> Update <%= @brand.name %> </h2>
  <p> current cost $<%= @brand.cost %> </p>


  <h4> Update the name or cost of this brand. </h4>
  <form action ="/brand/<%= @brand.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="name">Enter the new name:</label>
    <input type="text" name="name">
    <label for="cost">Enter the cost:</label>
    <input type="number" name="cost">
    <button type ="submit">Update</button>
  </form>

  <h4> Delete this brand from distribution. </h4>
  <form action="/brand/<%= @brand.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Remove <%= @brand.name %></button>
  </form>

  <h3> Store(s) that currently carry <%= @brand.name %>: </h3>
  <ul>
    <% @brand.stores.each do |store| %>
      <li>  <%= store.name%> </li>
    <% end %>
  </ul>

  <h4> Add stores that carry this brand </h4>
  <% if @stores.any? %>
  <form action="/brand/<%= @brand.id %>" method="post">
    <% @stores.each do |store| %>
    <label>
    <input type="checkbox" name="stores_id[]" value="<%= store.id %>">
      <%= store.name %>
  </label>
    <% end %>
    <button type="submit">Add store(s)</button>
  </form>
  <%else %>
  <div class="alert alert-danger">
    <strong>Sorry!</strong> There aren't any stores in the distribution network right now.
  </div>

  <% end %>
</div>

<div class="page_nav">
  <a href="/brands">See brands</a>
  <a href="/stores">See Stores</a>
  <a href="/">Home</a>
</div>
