<div class="page_header">
  <h1>Store Management</h1>
</div>

<div class="page_content">
  <h2> Update <%= @store.name %> </h2>

  <form action ="/store/<%= @store.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="name">Enter the new store name:</label>
    <input type="text" name="name">
    <button type ="submit">Change store name</button>
  </form>


  <form action="/store/<%= @store.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Remove <%= @store.name %></button>
  </form>


  <h3> Add brands to this store </h3>
  <% if @brands.any? %>
  <form action="/store/<%= @store.id %>" method="post">
    <% @brands.each do |brands| %>
    <label>
    <input type="checkbox" name="brands_id[]" value="<%= brands.id %>">
      <%= brands.name %>
  </label>
    <% end %>
    <button type="submit">Add brands(s)</button>
  </form>
  <%else %>
  <p> There are no brands in the distribution network right now. </p>
  <% end %>
  </div>

</div>

<div class="page_nav">
  <a href="/brands">See brands</a>
  <a href="/stores">See Stores</a>
  <a href="/">Home</a>
</div>
